*{
	margin:0;
	padding:0;
	list-style-type: none;
}


body{
	background: #fff;
	font: 12px Arial, sans-serif;
}

body, html{
	height: 100%;
}

.centeredRow{
	width: 970px;
	position: absolute;
	left: 50%;
	margin-left: -485px;
}

body h1, body h2, body h3, body h4, body h5, body h6{
	font-family: Abel, sans-serif;
}
/********************************************
* Navigation								*
********************************************/
nav{
	width:100%;
	height: 80px;
}

nav a{
	display: block;
	color: #666;
	float: left;
	font-size: 30px;
	text-decoration: none;
	/*width: 140px;*/
	position: relative;
	/*margin-right: 104px;*/
	top: 10px;
}

nav a *{
	-webkit-transition: color 500ms ease;
	-moz-transition: color 500ms ease;
	-o-transition: color 500ms ease;
	-ms-transition: color 500ms ease;
	transition: color 500ms ease;
	text-decoration: none !important;
}

nav a:hover *{
	color:#333;
	text-decoration: none !important;
}
nav a.home{
	position: relative;
	top: 0;
}
nav a.home img{
	width: 299px;
	height: 80px;
	max-width: none;
	position: relative;
	left: -65px;
}

nav a div.icon{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 10px;
	left: -35px;
	color: #999;
}

nav a h2{
	font: 16px Abel, sans-serif;
	color:#666;
	text-decoration: none;
	margin: 0;
}

nav a p{
	font: 12px Arial, sans-serif;
	color: #999;
	margin-top: 5px;
	display: block;
}

/********************************************
* Header									*
********************************************/
header{
	width: 100%;
	position: relative;
}

header .centeredRow{
	height: 100%;
}

header .slideshow{
	position: relative;
	width: 600px;

	z-index: 1;
	margin-top: 40px;
}

header .slideshow li{
	position: relative;
	color: #fff;
	text-shadow: 1px 1px 2px rgba( 0,0,0,0.3),1px 1px 8px rgba( 0,0,0,0.3);
}

header .slideshow li .icon{
	position: absolute;
	top: 38px;
	left: -43px;
	font-size: 70px;
}
header .slideshow li h3{
	font: 40px Abel, sans-serif;
	margin-bottom: 10px;
	margin: 0 0 0 40px;
}

header .slideshow li p{
	font-size: 18px;
	margin: 0 0 0 40px;
}

header .downloadOverlay{
	position: absolute;
	width: 300px;
	height: 100%;
	background: rgba( 0, 0, 0, 0.7 );
	left: 670px; 
	top: 0;
	color: #fff;
}

header .downloadOverlay .margin{
	margin: 10px;
}

header .downloadOverlay .btn {
	position: absolute;
	bottom: 20px;
	left: 60px;
}

header .downloadOverlay .btn i{
	vertical-align: baseline;
}

footer{
	background: #f6f6f6;
	border-top: 1px solid #ccc;
	padding:3px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 11px;
}